.container {
  min-width: 0px;
  max-width: 767px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__container {
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #FFF5F6), color-stop(22%, #FFFFFF));
  background-image: linear-gradient(to bottom, #FFF5F6 22%, #FFFFFF 22%);
}

@media screen and (max-width: 767.98px) {
  .gallery__container {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .gallery__container {
    width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #FFF5F6), color-stop(55%, #FFFFFF));
    background-image: linear-gradient(to bottom, #FFF5F6 55%, #FFFFFF 55%);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__container {
    width: 1200px;
    padding-left: 93px;
    padding-right: 94px;
  }
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.gallery__item:not(:last-child) {
  margin-right: 0.8%;
}

@media screen and (max-width: 1199.98px) {
  .gallery__item {
    float: left;
    width: 14%;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    width: 138px;
  }
}

@media screen and (max-width: 1199.98px) {
  .gallery__item--2x {
    width: 28.4%;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item--2x {
    width: 283px;
  }
}

@media screen and (max-width: 1199.98px) {
  .gallery__img--2x:last-child {
    width: 50%;
  }
}

.gallery__item--down {
  padding-top: 4%;
}

.gallery__item--deep-down {
  padding-top: 6%;
}

img + img {
  margin-top: 3%;
}

.gallery__img {
  border-radius: 8%;
}

.a-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.a-backdrop.is-hidden__about {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.a-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: scroll;
  width: 80vw;
  height: 80vh;
  padding: 15px;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.a-modal__btn {
  position: fixed;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  fill: #D41443;
}

.a-modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a-modal__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .a-modal__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.a-modal__img {
  border-radius: 8%;
}

@media screen and (max-width: 767.98px) {
  .a-modal__img {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .a-modal__img {
    width: 113px;
    height: 113px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .a-modal__img {
    width: 140px;
    height: 140px;
  }
}

.a-modal__title {
  font-size: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #D41443;
}

.a-modal__title::after {
  content: '';
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  height: 4px;
  border-radius: 2px;
  background-color: #FFB8CA;
}

@media screen and (min-width: 768px) {
  .a-modal__title::after {
    width: 150px;
  }
}
/*# sourceMappingURL=main.css.map */